@import url('./components/badge.css');

html {
    --mdc-theme-primary: #3f51b5;
    --mdc-theme-primary-4pct: rgba(63, 81, 181, 0.045); /* custom variable for primary color with 4% opacity */
    --mdc-theme-secondary: #ffc107;
    --mdc-theme-background: #fafafa;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #000000;
    --mdc-theme-surface: #ffffff;
    --mdc-theme-on-surface: #000000;
    --mdc-theme-on-error: #ffffff;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: var(--lumo-contrast-40pct);
    --mdc-theme-text-icon-on-background: var(--mdc-theme-text-hint-on-background);
    --mdc-theme-text-primary-on-light: var(--mdc-theme-text-primary-on-background);
    --mdc-theme-text-secondary-on-light: var(--mdc-theme-text-secondary-on-background);
    --mdc-theme-text-hint-on-light: var(--mdc-theme-text-hint-on-background);
    --mdc-theme-text-disabled-on-light: var(--mdc-theme-text-hint-on-background);
    --mdc-theme-text-icon-on-light: var(--mdc-theme-text-icon-on-background);
    --mdc-theme-text-primary-on-dark: rgba(255, 255, 255, 0.87);
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: var(--mdc-theme-text-hint-on-dark);
    --mdc-theme-text-icon-on-dark: var(--mdc-theme-text-hint-on-dark);
    --forge-theme-tertiary: #3d5afe;
    --forge-theme-on-tertiary: #ffffff;
    --forge-theme-border-color: #e0e0e0;
    --forge-theme-danger: #b00020;
    --forge-theme-error-hover: #db8a98;
    --forge-theme-warning: #d14900;
    --forge-theme-success: #2e7d32;
    --forge-theme-info: #424242; /* r. dark var. comp. */
    --forge-theme-icon-color: #757575; /* r. dark var. comp. */
    --forge-theme-form-field-label-on-background: rgba(0, 0, 0, 0.65);
    --forge-theme-form-field-icon-disabled-on-background: rgba(0, 0, 0, 0.26);
    --forge-theme-form-field-text-disabled-on-background: rgba(0, 0, 0, 0.6);
    --forge-theme-form-field-disabled-on-background: #f5f5f5;
    --forge-theme-label-disabled-on-background: var(--mdc-theme-text-hint-on-background);
    --forge-theme-elevated-surface: var(--mdc-theme-surface);
    --forge-theme-on-elevated-surface: var(--mdc-theme-text-primary-on-background); /* r. dark var. comp. */
    --forge-theme-popup-elevation: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --forge-theme-scrollbar-thumb: #bdbdbd;
    --forge-theme-scrollbar-thumb-hover: #9e9e9e; /* r. dark var. comp. */
    --forge-theme-scrollbar-track: #f0f0f0;
    --forge-theme-scrollbar-track-hover: #ececec;
    --forge-text-field-height: 3rem;
    --mdc-typography-headline1-font-size: 3rem;
    --mdc-typography-headline1-line-height: 3rem;
    --mdc-typography-headline1-letter-spacing: -0.03125em;
    --mdc-typography-headline2-font-size: 3rem;
    --mdc-typography-headline2-line-height: 3rem;
    --mdc-typography-headline2-font-weight: 400;
    --mdc-typography-headline2-letter-spacing: -0.03125em;
    --mdc-typography-headline3-font-size: 2.125rem;
    --mdc-typography-headline3-line-height: 2.125rem;
    --mdc-typography-headline3-letter-spacing: -0.0441176471em;
    --mdc-typography-headline4-font-size: 1.5rem;
    --mdc-typography-headline4-line-height: 1.5rem;
    --mdc-typography-headline4-letter-spacing: 0.0104166667em;
    --mdc-typography-headline5-font-size: 1.25rem;
    --mdc-typography-headline5-line-height: 2rem;
    --mdc-typography-headline5-font-weight: 500;
    --mdc-typography-headline5-letter-spacing: 0.0078125em;
    --mdc-typography-headline6-font-size: 1rem;
    --mdc-typography-headline6-line-height: normal;
    --mdc-typography-headline6-font-weight: 400;
    --mdc-typography-headline6-letter-spacing: normal;
    --mdc-typography-subtitle1-font-size: 1rem;
    --mdc-typography-subtitle1-letter-spacing: .009375em;
    --mdc-typography-subtitle1-font-weight: 400;
    --mdc-typography-subtitle2-font-size: 0.875rem;
    --mdc-typography-subtitle2-letter-spacing: 0.0087500001em;
    --mdc-typography-subtitle2-line-height: 1.375rem;
    --mdc-typography-body1-font-size: 1rem;
    --mdc-typography-body1-line-height: 1.5rem;
    --mdc-typography-body1-font-weight: 400;
    --mdc-typography-body2-font-size: 0.875rem;
    --mdc-typography-body2-line-height: 1.25rem;
    --mdc-typography-body2-font-weight: 400;
    --mdc-typography-body2-letter-spacing: 0.0178571429em;
    --mdc-typography-caption-font-size: 0.75rem;
    --mdc-typography-caption-line-height: 1.25rem;
    --mdc-typography-caption-font-weight: 400;
    --mdc-typography-caption-letter-spacing: 0.0333333333em;
    --mdc-typography-overline-text-transform: none;
    --mdc-typography-button-text-transform: none;
    --forge-typography-title-font-size: 1.25rem;
    --forge-typography-title-line-height: 2rem;
    --forge-typography-title-font-weight: 400;
    --forge-typography-title-letter-spacing: 0.0125em;
    --mdc-typography-button-letter-spacing: 0.0892857143em;
    --forge-badge-theme-default-muted-background: #ffc107;
    --forge-badge-theme-default-strong-background: #3f51b5;
    --forge-badge-theme-default-muted-color: #000000;
    --forge-badge-theme-default-strong-color: rgba(255, 255, 255, 0.87);
    --forge-badge-theme-success-muted-background: #A5D6A7;
    --forge-badge-theme-success-strong-background: #2e7d32;
    --forge-badge-theme-success-muted-color: #1b5e20;
    --forge-badge-theme-success-strong-color: #ffffff;
    --forge-badge-theme-warning-muted-background: #933600;
    --forge-badge-theme-warning-strong-background: #cc3900;
    --forge-badge-theme-warning-muted-color: #ffffff;
    --forge-badge-theme-warning-strong-color: #ffffff;
    --forge-badge-theme-danger-muted-background: #ffcdd2;
    --forge-badge-theme-danger-strong-background: #b00020;
    --forge-badge-theme-danger-muted-color: #a22d0e;
    --forge-badge-theme-danger-strong-color: #ffffff;
    --forge-badge-theme-info-primary-muted-background: #bbdefb;
    --forge-badge-theme-info-primary-muted-color: #1a237e;
    --forge-badge-theme-info-primary-strong-background: #1a237e;
    --forge-badge-theme-info-primary-strong-color: #ffffff;
    --forge-badge-theme-info-secondary-muted-background: #e0e0e0;
    --forge-badge-theme-info-secondary-strong-background: #000000;
    --forge-badge-theme-info-secondary-muted-color: #000000;
    --forge-badge-theme-info-secondary-strong-color: #ffffff;
    --mdc-theme-notification-background: #303030; /* custom variable for notification */
    --mdc-theme-text-notification: var(--lumo-tint); /* custom variable for notification text */

    --lumo-border-radius-s: 0.25em;
    --lumo-border-radius-m: var(--lumo-border-radius, 0.25em);
    --lumo-border-radius-l: 0.5em;
    --lumo-border-radius: 0.25em;
    --lumo-box-shadow-xs: 0 1px 4px -1px var(--lumo-shade-50pct);
    --lumo-box-shadow-s: 0 2px 4px -1px var(--lumo-shade-20pct), 0 3px 12px -1px var(--lumo-shade-30pct);
    --lumo-box-shadow-m: 0 2px 6px -1px var(--lumo-shade-20pct), 0 8px 24px -4px var(--lumo-shade-40pct);
    --lumo-box-shadow-l: 0 3px 18px -2px var(--lumo-shade-20pct), 0 12px 48px -6px var(--lumo-shade-40pct);
    --lumo-box-shadow-xl: 0 4px 24px -3px var(--lumo-shade-20pct), 0 18px 64px -8px var(--lumo-shade-40pct);
    --lumo-clickable-cursor: default;
    --lumo-font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --lumo-font-size-xxs: .75rem; /* caption */
    --lumo-font-size-xs: .8125rem;
    --lumo-font-size-s: .875rem; /* body2, subtitle2 */
    --lumo-font-size-m: var(--mdc-typography-subtitle1-font-size); /* h6, subtitle1 */
    --lumo-font-size-l: 1.25rem; /* h5 */
    --lumo-font-size-xl: 1.5rem; /* h4, body1 */
    --lumo-font-size-xxl: 2.125rem; /* h3 */
    --lumo-font-size-xxxl: 3rem; /* h1, h2 */
    --lumo-line-height-xs: 1.25;
    --lumo-line-height-s: 1.375;
    --lumo-line-height-m: 1.625;
    --lumo-size-xs: 1.625rem;
    --lumo-size-s: 1.875rem;
    --lumo-size-m: 2.25rem;
    --lumo-size-l: 2.75rem;
    --lumo-size-xl: 3.5rem;
    --lumo-icon-size-s: 1.25em;
    --lumo-icon-size-m: 1.5em;
    --lumo-icon-size-l: 2.25em;
    --lumo-icon-size: var(--lumo-icon-size-m);
    --lumo-base-color: var(--mdc-theme-surface);
    --lumo-tint-5pct: hsla(0, 0%, 100%, 0.3);
    --lumo-tint-10pct: hsla(0, 0%, 100%, 0.37);
    --lumo-tint-20pct: hsla(0, 0%, 100%, 0.44);
    --lumo-tint-30pct: hsla(0, 0%, 100%, 0.5);
    --lumo-tint-40pct: hsla(0, 0%, 100%, 0.57);
    --lumo-tint-50pct: hsla(0, 0%, 100%, 0.64);
    --lumo-tint-60pct: hsla(0, 0%, 100%, 0.7);
    --lumo-tint-70pct: hsla(0, 0%, 100%, 0.77);
    --lumo-tint-80pct: hsla(0, 0%, 100%, 0.84);
    --lumo-tint-90pct: hsla(0, 0%, 100%, 0.9);
    --lumo-tint: #FFF;
    --lumo-shade-5pct: rgba(0, 0, 0, 0.05);
    --lumo-shade-10pct: rgba(0, 0, 0, 0.1);
    --lumo-shade-20pct: rgba(0, 0, 0, 0.2);
    --lumo-shade-30pct: rgba(0, 0, 0, 0.38);
    --lumo-shade-40pct: rgba(0, 0, 0, 0.4);
    --lumo-shade-50pct: rgba(0, 0, 0, 0.5);
    --lumo-shade-60pct: var(--forge-theme-form-field-label-on-background);
    --lumo-shade-70pct: rgba(0, 0, 0, 0.7);
    --lumo-shade-80pct: rgba(0, 0, 0, 0.8);
    --lumo-shade-90pct: rgba(0, 0, 0, 0.9);
    --lumo-shade: var(--mdc-theme-text-primary-on-background);
    --lumo-contrast-5pct: var(--lumo-shade-5pct);
    --lumo-contrast-10pct: var(--lumo-shade-10pct);
    --lumo-contrast-20pct: var(--lumo-shade-20pct);
    --lumo-contrast-30pct: var(--lumo-shade-30pct);
    --lumo-contrast-40pct: var(--lumo-shade-40pct);
    --lumo-contrast-50pct: var(--lumo-shade-50pct);
    --lumo-contrast-60pct: var(--lumo-shade-60pct);
    --lumo-contrast-70pct: var(--lumo-shade-70pct);
    --lumo-contrast-80pct: var(--lumo-shade-80pct);
    --lumo-contrast-90pct: var(--lumo-shade-90pct);
    --lumo-contrast: var(--lumo-shade);
    --lumo-header-text-color: var(--lumo-contrast);
    --lumo-disabled-text-color: var(--mdc-theme-text-disabled-on-background);
    --lumo-secondary-text-color: var(--mdc-theme-text-hint-on-background);
    --lumo-tertiary-text-color: var(--mdc-theme-text-secondary-on-background);
    --lumo-body-text-color: var(--mdc-theme-text-primary-on-background);
    --lumo-primary-color: var(--mdc-theme-primary);
    --lumo-primary-color-50pct: rgba(63, 81, 181, 0.5);
    --lumo-primary-color-10pct: rgba(63, 81, 181, 0.1);
    --lumo-primary-text-color: var(--lumo-primary-color);
    --lumo-primary-contrast-color: #FFF;
    --lumo-error-color: var(--mdc-theme-error);
    --lumo-error-color-50pct: rgba(176, 0, 32, 0.5);
    --lumo-error-color-10pct: rgba(176, 0, 32, 0.1);
    --lumo-error-text-color: rgb(176, 0, 32);
    --lumo-error-contrast-color: #FFF;
    --lumo-success-color: var(--forge-theme-success);
    --lumo-success-color-50pct: rgba(46, 125, 50, 0.5);
    --lumo-success-color-10pct: rgba(46, 125, 50, 0.1);
    --lumo-success-text-color: rgb(46, 125, 50);
    --lumo-success-contrast-color: #FFF;
}

html[theme="dark"] {
    --mdc-theme-primary: #8c9eff;
    --mdc-theme-secondary: #ffe082;
    --mdc-theme-background: #212121;
    --mdc-theme-surface: #2c2c2c;
    --mdc-theme-error: #cf6679;
    --mdc-theme-on-primary: #000000;
    --mdc-theme-on-secondary: #000000;
    --mdc-theme-on-surface: #ffffff;
    --mdc-theme-on-error: #000000;
    --mdc-theme-text-primary-on-dark: #000000;
    --mdc-theme-text-primary-on-background: rgba(255, 255, 255, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.54);
    --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-icon-on-background: var(--mdc-theme-text-hint-on-background);
    --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.12);
    --mdc-theme-text-disabled-on-light: var(--mdc-theme-text-hint-on-background);
    --mdc-theme-text-secondary-on-light: var(--mdc-theme-text-secondary-on-background);
    --forge-theme-tertiary: #ffe082;
    --forge-theme-border-color: #464646;
    --forge-theme-form-field-icon-disabled-on-background: rgba(255, 255, 255, 0.26);
    --forge-theme-form-field-disabled-on-background: #353535;
    --forge-theme-form-field-text-disabled-on-background: rgba(255, 255, 255, 0.6);
    --forge-theme-form-field-label-on-background: rgba(255, 255, 255, 0.65);
    --forge-theme-label-disabled-on-background: rgba(255, 255, 255, 0.38);
    --forge-theme-scrollbar-thumb: #757575;
    --forge-theme-scrollbar-thumb-hover: #9e9e9e;
    --forge-theme-scrollbar-track: #3a3a3a;
    --forge-theme-scrollbar-track-hover: #424242;
    --forge-theme-elevated-surface: #363636;
    --forge-theme-on-elevated-surface: rgba(255, 255, 255, 0.87);
    --forge-theme-popup-elevation: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    --forge-app-bar-theme-background: #212121;
    --forge-app-bar-theme-on-background: #ffffff;
    --forge-backdrop-theme-background: rgba(255, 255, 255, 0.54);
    --forge-skeleton-theme-gradient: rgba(255, 255, 255, 0.12);
    --forge-skeleton-theme-background: rgba(255, 255, 255, 0.12);
    --forge-linear-progress-theme-buffer: #7c704c;
    --forge-linear-progress-theme-buffer-dots: opacity(0.5);
    --forge-toast-theme-background: #eee;
    --forge-toast-theme-on-background: rgba(0, 0, 0, 0.87);
    --forge-toast-theme-action: #3d5afe;
    --forge-table-theme-row-hover-background: rgba(255, 255, 255, 0.04);
    --forge-table-theme-row-active-background: rgba(255, 255, 255, 0.08);
    --forge-table-theme-row-selected-background: rgba(140, 158, 255, 0.16);
    --forge-table-theme-row-selected-hover-background: rgba(140, 158, 255, 0.24);
    --forge-table-theme-row-selected-active-background: rgba(140, 158, 255, 0.32);
    --forge-badge-theme-default-muted-background: #ffc107;
    --forge-badge-theme-default-strong-background: #3f51b5;
    --forge-badge-theme-default-muted-color: #000000;
    --forge-badge-theme-default-strong-color: rgba(255, 255, 255, 0.87);
    --forge-badge-theme-success-muted-background: #175a2a;
    --forge-badge-theme-success-strong-background: #007425;
    --forge-badge-theme-success-muted-color: #ffffff;
    --forge-badge-theme-success-strong-color: #ffffff;
    --forge-badge-theme-warning-muted-background: #933600;
    --forge-badge-theme-warning-strong-background: #cc3900;
    --forge-badge-theme-warning-muted-color: #ffffff;
    --forge-badge-theme-warning-strong-color: #ffffff;
    --forge-badge-theme-danger-muted-background: #810022;
    --forge-badge-theme-danger-strong-background: #ae0019;
    --forge-badge-theme-danger-muted-color: #ffffff;
    --forge-badge-theme-danger-strong-color: #ffffff;
    --forge-badge-theme-info-primary-muted-background: #bbdefb;
    --forge-badge-theme-info-primary-muted-color: #1a237e;
    --forge-badge-theme-info-primary-strong-background: #1a237e;
    --forge-badge-theme-info-primary-strong-color: #ffffff;
    --forge-badge-theme-info-secondary-muted-background: #424242;
    --forge-badge-theme-info-secondary-strong-background: #5a5a5a;
    --forge-badge-theme-info-secondary-muted-color: #ffffff;
    --forge-badge-theme-info-secondary-strong-color: #ffffff;
    --forge-banner-theme-default-background: #3f51b5;
    --forge-banner-theme-default-font-color: #ffffff;
    --forge-banner-theme-default-icon-color: #ffffff;
    --forge-banner-theme-success-background: #175a2a;
    --forge-banner-theme-success-font-color: #ffffff;
    --forge-banner-theme-success-icon-color: #ffffff;
    --forge-banner-theme-warning-background: #933600;
    --forge-banner-theme-warning-font-color: #ffffff;
    --forge-banner-theme-warning-icon-color: #ffffff;
    --forge-banner-theme-danger-background: #810022;
    --forge-banner-theme-danger-font-color: #ffffff;
    --forge-banner-theme-danger-icon-color: #ffffff;
    --forge-banner-theme-info-primary-background: #0a3b71;
    --forge-banner-theme-info-primary-font-color: #ffffff;
    --forge-banner-theme-info-primary-icon-color: #ffffff;
    --forge-banner-theme-info-secondary-background: #424242;
    --forge-banner-theme-info-secondary-font-color: #ffffff;
    --forge-banner-theme-info-secondary-icon-color: #ffffff;
    --forge-inline-message-theme-success-background: #175a2a;
    --forge-inline-message-theme-success-font-color: #ffffff;
    --forge-inline-message-theme-success-icon-color: #ffffff;
    --forge-inline-message-theme-warning-background: #933600;
    --forge-inline-message-theme-warning-font-color: #ffffff;
    --forge-inline-message-theme-warning-icon-color: #ffffff;
    --forge-inline-message-theme-danger-background: #810022;
    --forge-inline-message-theme-danger-font-color: #ffffff;
    --forge-inline-message-theme-danger-icon-color: #ffffff;
    --forge-inline-message-theme-info-primary-background: #0a3b71;
    --forge-inline-message-theme-info-primary-font-color: #ffffff;
    --forge-inline-message-theme-info-primary-icon-color: #ffffff;
    --forge-inline-message-theme-info-secondary-background: #424242;
    --forge-inline-message-theme-info-secondary-font-color: #ffffff;
    --forge-inline-message-theme-info-secondary-icon-color: #ffffff;
    --mdc-switch-selected-handle-color: #ffc107;
    --mdc-switch-selected-hover-handle-color: #bf9107;
    --mdc-switch-selected-focus-handle-color: #bf9107;
    --mdc-switch-selected-pressed-handle-color: #bf9107;
    --mdc-switch-selected-focus-state-layer-color: #ffc107;
    --mdc-switch-selected-hover-state-layer-color: #ffc107;
    --mdc-switch-selected-pressed-state-layer-color: #ffc107;
    --mdc-switch-selected-focus-track-color: #fff0c1;
    --mdc-switch-selected-hover-track-color: #fff0c1;
    --mdc-switch-selected-pressed-track-color: #fff0c1;
    --mdc-switch-selected-track-color: #fff0c1;
    --mdc-switch-unselected-hover-handle-color: rgba(255, 255, 255, 0.54);
    --mdc-switch-unselected-focus-handle-color: rgba(255, 255, 255, 0.87);
    --mdc-switch-unselected-pressed-handle-color: rgba(255, 255, 255, 0.54);
    --mdc-switch-unselected-focus-state-layer-color: rgba(255, 255, 255, 0.87);
    --mdc-switch-unselected-hover-state-layer-color: rgba(255, 255, 255, 0.87);
    --mdc-switch-unselected-pressed-state-layer-color: rgba(255, 255, 255, 0.87);
    --mdc-switch-disabled-handle-opacity: 0.54;
    --mdc-switch-disabled-selected-handle-color: #fff0c1;
    --mdc-switch-disabled-selected-icon-opacity: 0.54;
    --mdc-switch-disabled-selected-track-color: #fff0c1;
    --mdc-switch-disabled-track-opacity: 0.38;
    --mdc-switch-disabled-unselected-handle-color: rgba(255, 255, 255, 0.38);
    --mdc-switch-disabled-unselected-icon-color: on-primary;
    --mdc-switch-disabled-unselected-icon-opacity: 0.54;
    --mdc-switch-disabled-unselected-track-color: rgba(255, 255, 255, 0.38);
    --mdc-theme-notification-background: #f8f8f8; /* custom variable for notification */
    --mdc-theme-text-notification: var(--mdc-theme-text-primary-on-dark); /* custom variable for notification text */

    --lumo-error-text-color: rgb(207, 102, 121);
    --lumo-error-color-50pct: rgba(207, 102, 121, 0.5);
    --lumo-error-color-10pct: rgba(207, 102, 121, 0.1);
    --lumo-error-color: var(--mdc-theme-error);
    --lumo-primary-text-color: var(--mdc-theme-primary);
    --lumo-primary-color-50pct: rgba(140, 158, 255, 0.5);
    --lumo-primary-color-10pct: rgba(140, 158, 255, 0.1);
    --lumo-primary-color: #8c9eff;
    --lumo-success-text-color: rgb(23, 90, 42);
    --lumo-success-color-50pct: rgba(23, 90, 42, 0.5);
    --lumo-success-color-10pct: rgba(23, 90, 42, 0.1);
    --lumo-success-color: #175a2a;
    --lumo-base-color: var(--mdc-theme-surface);
    --lumo-shade-5pct: rgba(0, 0, 0, 0.07);
    --lumo-shade-10pct: rgba(0, 0, 0, 0.1);
    --lumo-shade-20pct: rgba(0, 0, 0, 0.2);
    --lumo-shade-30pct: rgba(0, 0, 0, 0.38);
    --lumo-shade-40pct: rgba(0, 0, 0, 0.4);
    --lumo-shade-50pct: rgba(0, 0, 0, 0.5);
    --lumo-shade-60pct: rgba(0, 0, 0, 0.65);
    --lumo-shade-70pct: rgba(0, 0, 0, 0.7);
    --lumo-shade-80pct: rgba(0, 0, 0, 0.8);
    --lumo-shade-90pct: rgba(0, 0, 0, 0.9);
    --lumo-shade: #000000;
    --lumo-disabled-text-color: var(--mdc-theme-text-disabled-on-background);
    --lumo-secondary-text-color: var(--mdc-theme-text-hint-on-background);
    --lumo-tertiary-text-color: var(--mdc-theme-text-secondary-on-background);
    --lumo-body-text-color: var(--mdc-theme-text-primary-on-background);
    --lumo-header-text-color: hsl(214, 100%, 98%);
    --lumo-tint-5pct: rgba(217, 228, 242, 0.05);
    --lumo-tint-10pct: rgba(217, 228, 242, 0.1);
    --lumo-tint-20pct: rgba(217, 228, 242, 0.2);
    --lumo-tint-30pct: rgba(217, 228, 242, 0.3);
    --lumo-tint-40pct: rgba(217, 228, 242, 0.4);
    --lumo-tint-50pct: rgba(217, 228, 242, 0.5);
    --lumo-tint-60pct: rgba(217, 228, 242, 0.6);
    --lumo-tint-70pct: rgba(217, 228, 242, 0.7);
    --lumo-tint-80pct: rgba(217, 228, 242, 0.8);
    --lumo-tint-90pct: rgba(217, 228, 242, 0.9);
    --lumo-tint: hsl(214, 50%, 90%);
}

hr {
    margin: var(--lumo-space-s) 0px;
}

vaadin-context-menu-overlay vaadin-context-menu-item {
    font-size: var(--lumo-font-size-m);
}

vaadin-select:not([has-label]) vaadin-select-value-button {
    --inset-padding: 0;
}

[theme="dark"] vaadin-grid-pro {
    --forge-theme-tertiary: var(--lumo-primary-color);
}