[part="overlay"] {
    border-radius: var(--lumo-border-radius);
}

[part="content"] {
    padding: var(--lumo-space-s);
}

:host([theme~="_vaadin-confirm-dialog-dialog-overlay-theme"]) [part="content"] {
    padding: var(--lumo-space-l);
}