:host {
    --_select-component-item-selected-icon-display: none;
    --_select-component-item-selected-background: var(--lumo-primary-color-5pct);
    --_select-component-item-selected-hover-background: var(--lumo-primary-color-10pct);
    --_select-component-item-left-padding: var(--lumo-space-m);
}

[part="overlay"] {
    box-shadow: var(--forge-theme-popup-elevation);
}

[part="content"] {
    padding: 0;
}