[part="overlay"] {
    border-radius: var(--lumo-border-radius);
    box-shadow: var(--forge-theme-popup-elevation);
}

[part="content"] {
    padding: var(--lumo-space-s);
}

:host([theme~="_vaadin-confirm-dialog-dialog-overlay-theme"]) [part="content"] {
    --lumo-contrast-5pct: transparent;
    padding: 1rem 1rem var(--lumo-space-l);
}