:host([selected]) {
    background-color: var(--select-primary-10pct);
}

:host([selected]:hover) {
    background-color: var(--select-primary-10pct);
}

:host [part='checkmark']::before {
    display: var(--select-hide-checkmark);
}