:host {
    border-radius: 0;
    padding: 1em;
}

[part="checkmark"] {
    display: none;
}

:host(:hover:not([disabled])) {
    background-color: var(--lumo-shade-5pct);
}

:host([focused]:not([disabled])) {
    box-shadow: none;
}

:host([focused]:not([disabled])) [part="content"] {
    color: var(--lumo-primary-color);
}

:host([selected]) {
    background-color: var(--lumo-primary-color-5pct);
}

:host([selected]:hover) {
    background-color: var(--lumo-primary-color-10pct);
}